<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button routerLink="/tabs/inicio">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
      <img src="assets/logo_od.png" alt="Logo de la empresa">
    </ion-buttons>
    <ion-title>Promociones</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <p>Aquí están nuestras promociones actuales.</p>

  <div class="ofertas">
    <h3 class="Titulo">Ofertas Especiales</h3>
    
    <ion-card class="promo-card">
      <ion-card-header>
        <ion-card-title>20% de Descuento en tu Primera Cita</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        ¡Agenda tu cita hoy mismo y recibe un 20% de descuento en tu primer servicio!
      </ion-card-content>
    </ion-card>

    <ion-card class="promo-card">
      <ion-card-header>
        <ion-card-title>Oferta Especial: 5 Citas = Descuento + Regalo</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Si llevas más de 5 citas con nosotros, obtendrás un 15% de descuento en tu próxima cita y un producto de regalo.
      </ion-card-content>
    </ion-card>

    <h3 class="Titulo">Nuestros Productos</h3>
    <div class="imagenes-ofertas">
      <ion-card>
        <img src="https://www.pngarts.com/files/1/Colgate-PNG-Image-1.png" alt="Colgate">
        <ion-card-header>
          <ion-card-title>Colgate</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          Pasta dental para protección completa.
        </ion-card-content>
      </ion-card>

      <ion-card>
        <img src="https://images.ctfassets.net/m9qku1qrfhc5/2005nuM2QlALVPcR34QuZL/3f4ce7d093d616af9868c508ae5f424a/listerine-coolmint-500ml-front-es-ec" alt="Listerine">
        <ion-card-header>
          <ion-card-title>Enjuague Bucal Listerine</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          Elimina bacterias y deja un aliento fresco.
        </ion-card-content>
      </ion-card>

      <ion-card>
        <img src="https://i-cf65.ch-static.com/content/dam/cf-consumer-healthcare/parodontax-v3/es_ES/2024-packshots-555x555/Parodontax_Meerkat_Extra%20%20Fresh__AWA_Banners_Other_0s_es_ESP_555x555.png?auto=format" alt="Parodontax">
        <ion-card-header>
          <ion-card-title>Parodontax</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          Pasta para encías saludables y protección contra el sangrado.
        </ion-card-content>
      </ion-card>
    </div>
  </div>
</ion-content>
