.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #f9f9f9;
    height: 100%;
  }
  
  .form-header {
    text-align: center;
    margin-bottom: 20px;
  }
  
  #form-title {
    font-size: 1.8em;
    font-weight: bold;
    color: #333;
  }
  
  #instruction-text {
    font-size: 1em;
    color: #666;
    margin-top: 5px;
  }
  
  .reprogramar-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
    max-width: 500px;
  }
  
  ion-label {
    font-weight: bold;
  }
  
  #label-date {
    font-size: 1.1em;
    color: black;
  }
  
  ion-datetime {
    --padding-start: 10px;
    --padding-end: 10px;
    background-color: #f0f8ff;
    color: #333;
    font-weight: bold;
    border-radius: 8px;
    padding: 12px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
  }
  
  ion-datetime::part(text) {
    color: #333;
  }
  
  #input-motivo {
    font-size: 1.1em;
    color: #333;
  }
  
  .submit-btn {
    margin-top: 20px;
    color: white;
  }
  
  .submit-btn:disabled {
    background-color: #cccccc;
  }
  
  ion-input {
    font-size: 1em;
  }
  
  #label-motivo {
    font-size: 1.1em;
    color: #333;
  }
  
  @media (max-width: 600px) {
    .content {
      padding: 10px;
    }
  
    #form-title {
      font-size: 1.5em;
    }
  
    #instruction-text {
      font-size: 0.9em;
    }
  
    .reprogramar-form {
      padding: 0 10px;
      gap: 10px;
    }
  
    ion-label {
      font-size: 1em;
    }
  
    ion-datetime, ion-input {
      font-size: 1em;
    }
  
    .submit-btn {
      font-size: 1.1em;
      padding: 10px;
    }
  }
  
  @media (max-width: 375px) {
    #form-title {
      font-size: 1.3em;
    }
  
    .reprogramar-form {
      padding: 0 8px;
      gap: 8px;
    }
  
    .submit-btn {
      font-size: 1em;
      padding: 8px;
    }
  }