<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="inicio" href="/tabs/inicio">
      <ion-icon aria-hidden="true" name="home"></ion-icon>
      <ion-label class="iconos">Inicio</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="recomendaciones" href="/tabs/recomendaciones">
      <ion-icon aria-hidden="true" name="today"></ion-icon>
      <ion-label class="iconos">Recomendaciones</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="promociones" href="/tabs/promociones">
      <ion-icon aria-hidden="true" name="today"></ion-icon>
      <ion-label class="iconos">Promociones</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
