:root {
    --ion-color-primary: #0054e9;
    --ion-color-primary-rgb: 0, 84, 233;
    --ion-color-primary-contrast: #ffffff;
    --ion-color-primary-contrast-rgb: 255, 255, 255;
    --ion-color-primary-shade: #004acd;
    --ion-color-primary-tint: #1a65eb;

    --ion-color-secondary: #0163aa;
    --ion-color-secondary-rgb: 1, 99, 170;
    --ion-color-secondary-contrast: #ffffff;
    --ion-color-secondary-contrast-rgb: 255, 255, 255;
    --ion-color-secondary-shade: #015796;
    --ion-color-secondary-tint: #1a73b3;

    --ion-color-tertiary: #2edcff;
    --ion-color-tertiary-rgb: 46, 220, 255;
    --ion-color-tertiary-contrast: #000000;
    --ion-color-tertiary-contrast-rgb: 0, 0, 0;
    --ion-color-tertiary-shade: #28c2e0;
    --ion-color-tertiary-tint: #43e0ff;

    --ion-color-success: #2dd55b;
    --ion-color-success-rgb: 45, 213, 91;
    --ion-color-success-contrast: #000000;
    --ion-color-success-contrast-rgb: 0, 0, 0;
    --ion-color-success-shade: #28bb50;
    --ion-color-success-tint: #42d96b;

    --ion-color-warning: #ffc409;
    --ion-color-warning-rgb: 255, 196, 9;
    --ion-color-warning-contrast: #000000;
    --ion-color-warning-contrast-rgb: 0, 0, 0;
    --ion-color-warning-shade: #e0ac08;
    --ion-color-warning-tint: #ffca22;

    --ion-color-danger: #c5000f;
    --ion-color-danger-rgb: 197, 0, 15;
    --ion-color-danger-contrast: #ffffff;
    --ion-color-danger-contrast-rgb: 255, 255, 255;
    --ion-color-danger-shade: #ad000d;
    --ion-color-danger-tint: #cb1a27;

    --ion-color-light: #f6f8fc;
    --ion-color-light-rgb: 246, 248, 252;
    --ion-color-light-contrast: #000000;
    --ion-color-light-contrast-rgb: 0, 0, 0;
    --ion-color-light-shade: #d8dade;
    --ion-color-light-tint: #f7f9fc;

    --ion-color-medium: #5f5f5f;
    --ion-color-medium-rgb: 95, 95, 95;
    --ion-color-medium-contrast: #ffffff;
    --ion-color-medium-contrast-rgb: 255, 255, 255;
    --ion-color-medium-shade: #545454;
    --ion-color-medium-tint: #6f6f6f;

    --ion-color-dark: #2f2f2f;
    --ion-color-dark-rgb: 47, 47, 47;
    --ion-color-dark-contrast: #ffffff;
    --ion-color-dark-contrast-rgb: 255, 255, 255;
    --ion-color-dark-shade: #292929;
    --ion-color-dark-tint: #444444;
}

ion-content {
    --background: #ffffff;
}

ion-toolbar {
    --background: #4169A1;
    --color: white;
    --padding-top: 5px;
    padding-bottom: 5px;
}

ion-tab-bar {
    --background: #4169A1;
    --color: white;
    --color-selected: #ffffff;
}

img {
    height: 60px;
    width: auto;
}

ion-label {
    padding-right: 10px;
}

.iconos {
    padding-right: 1px;
}

.titulo {
    text-size-adjust: 10px;
}

ion-list {
    background-color: white;
    color: black;
}

ion-item {
    --background: white;
    --color: black;
}

ion-item:hover {
    --background: #f0f0f0;
}

ion-header {
    --background: #4169A1;
}

ion-toolbar {
    --background: #4169A1;
}

ion-title {
    color: white;
}

ion-content {
    --background: white;
    padding: 20px;
}

.container {
    text-align: center;
    margin-top: 20px;
    padding: 20px;
}

.container h2 {
    font-family: 'Arial', sans-serif;
    font-size: 28px;
    font-weight: bold;
    color: #4169A1;
    margin-bottom: 20px;
}

.container p {
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    color: #333;
    line-height: 1.5;
    margin-bottom: 20px;
    text-align: justify;
}

.container p:first-of-type {
    font-weight: bold;
}

ion-button {
    margin-top: 20px;
}

.success-alert .alert-wrapper {
    background-color: #4169A1 !important; 
    color: white !important;
    border-radius: 12px;
  }
  
  .success-alert .alert-title {
    color: white !important;
    font-size: 18px;
    font-weight: bold;
  }
  
  .success-alert .alert-message {
    color: white !important;
    font-size: 16px;
  }
  
  .custom-alert-button {
    color: white !important;
    background-color: #4169A4 !important; 
    border-radius: 8px;
    font-weight: bold;
  }
  