<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button routerLink="/tabs/inicio">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="start">
      <ion-title>Ajustes</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label>
        <h2>Idioma</h2>
        <p>Selecciona tu idioma preferido</p>
      </ion-label>
      <ion-select>
        <ion-select-option value="es">Español</ion-select-option>
        <ion-select-option value="en">Inglés</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>
        <h2>Notificaciones</h2>
        <p>Recibir notificaciones sobre tu próxima cita</p>
      </ion-label>
      <ion-toggle slot="end"></ion-toggle>
    </ion-item>
  </ion-list>
</ion-content>
