<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <img src="assets/logo_od.png" alt="Logo" class="menu-logo">
      <ion-title>Inicio</ion-title>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-menu side="end" content-id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Opciones</ion-title>
      <ion-buttons slot="start">
        <ion-button (click)="closeMenu()">
          <ion-icon class="cerrar" name="close"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <ion-item routerLink="/mensajes">
        <ion-icon name="chatbubbles-outline" slot="start"></ion-icon>
        <ion-label>Mensajes</ion-label>
      </ion-item>
      <ion-item routerLink="/ajustes">
        <ion-icon name="settings-outline" slot="start"></ion-icon>
        <ion-label>Ajustes</ion-label>
      </ion-item>
      <ion-item routerLink="/contacto">
        <ion-icon name="call-outline" slot="start"></ion-icon>
        <ion-label>Contacto</ion-label>
      </ion-item>
      <ion-item routerLink="/acerca-de">
        <ion-icon name="information-circle-outline" slot="start"></ion-icon>
        <ion-label>Acerca De</ion-label>
      </ion-item>
      <ion-item routerLink="/login" class="logout-item">
        <ion-icon name="log-out-outline" slot="start"></ion-icon>
        <ion-label>Cerrar Sesión</ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-content id="main-content" [fullscreen]="true">
  <div class="container">

    <h1 class="title">Bienvenido(a) Alberto</h1>
    <h1 class="title">a Odontología Integral</h1>
    <p class="subtitle">
      Aquí tienes opciones relevantes sobre las cita.
    </p>
  </div>

  <div class="grid-container">
    <div class="card-container">
      <ion-card-header>
        <ion-card-subtitle></ion-card-subtitle>
      </ion-card-header>
      <ion-button expand="full" color="primary" fill="clear" class="boton-imagen" routerLink="/agendar-cita">
        <div class="boton-contenido">
          <img src="https://cdn3d.iconscout.com/3d/premium/thumb/dentista-8555017-6742234.png?f=webp"
            alt="Icono opción 1" class="icono-boton">
          <span class="titulo-boton">Nueva cita</span>
        </div>
      </ion-button>
    </div>

    <div class="card-container">
      <ion-card-header>
        <ion-card-subtitle></ion-card-subtitle>
      </ion-card-header>
      <ion-button expand="full" color="primary" fill="clear" class="boton-imagen" routerLink="/reprogramar-cita">
        <div class="boton-contenido">
          <img src="https://cdn3d.iconscout.com/3d/premium/thumb/programar-cita-8094323-6478810.png?f=webp"
            alt="Icono opción 2" class="icono-boton">
          <span class="titulo-boton">Reprogramar Cita</span>
        </div>
      </ion-button>
    </div>

    <div class="card-container" style="text-align: center;">
      <ion-card-header>
        <ion-card-subtitle></ion-card-subtitle>
      </ion-card-header>
      <ion-button expand="full" color="primary" fill="clear" class="boton-imagen historial-citas"
        routerLink="/historial-citas">
        <div class="boton-contenido">
          <img src="https://cdn3d.iconscout.com/3d/premium/thumb/historial-del-navegador-5402850-4521463.png?f=webp"
            alt="Icono opción 3" class="icono-boton">
          <span class="titulo-boton">Ver Historial de citas</span>
        </div>
      </ion-button>
    </div>
  </div>
</ion-content>